.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-content{
  width: 100%;
  background-color: #F8F9FA;
  margin: 10px;
  box-shadow: 0 0 7px grey;
  border-radius: 5px;
}

.card-image {
  height: 180px;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.card-details {
  padding: 10px;
}

.card-flex {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-size: 20px;
}

.flat-options {
  background-color: white;
  background-size: cover;
  padding: 10px;
}
